* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image-group {
  display: flex;
  gap: 10px;
}
.cart {
  padding: 5px;
  border: 1px solid #dadada;
  width: 100px;
}
.cart-img {
  width: 80px;
  height: 80px;
}
.product-name {
  font-size: 15px;
}
.cart-price {
}
.button {
  font-size: 10px;
  background-color: rgb(58, 58, 153);
  color: #dadada;
}
.footer {
  background-color: black;
  color: #fff;
  text-align: center;
}
